<?xml version="1.0" encoding="utf-8"?>
<databaseManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  primary="demo">
  <database name="demo">
    <config id="1">
      <dbType>MySql</dbType>
      <connectionString>server=localhost;port=3306;user=root;password=qinsoft.mysql;persistsecurityinfo=true;database=qinsoft;charset=utf8mb4;allowpublickeyretrieval=true;pooling=true;</connectionString>
    </config>
  </database>
</databaseManager>
